<footer class="my-footer">
  <div class="logo_footer">
    <img
      src="assets/img/logo-sc-transparent.png"
      id="logo-footer"
      alt="logo Séries Connect"
      title="Séries Connect"
      [routerLink]="['/home']"
    />
  </div>
  <div class="text-footer">
    <nav class="footer-nav">
      <a [routerLink]="['/legal']">Mentions Légales</a>
      <a [routerLink]="['/show-views']">Séries Vues</a>
      <a [routerLink]="['/show-wishes']">Séries à Voir</a>
    </nav>

    <p>Cette application utilise l'API TMDB</p>
  </div>
</footer>
