<footer class="my-footer">
  <div class="logo_footer">
    <img
      src="assets/img/logo-sc-transparent.png"
      id="logo-footer"
      alt="logo Séries Connect"
      title="Séries Connect"
      [routerLink]="['/home']"
    />
  </div>
  <div class="text-footer">
    <nav class="footer-nav">
      <a [routerLink]="['/legal']">Mentions légales</a>
      <a *ngIf="isLoggedIn()" [routerLink]="['/show-views']">Séries vues</a>
      <a *ngIf="isLoggedIn()" [routerLink]="['/show-wishes']">Séries à voir</a>
    </nav>

    <p>Cette application utilise l'API TMDB</p>
  </div>
</footer>
