<footer class="my-footer">
  <div class="logo_footer">
    <img
      src="assets/img/logo-sc-transparent.png"
      alt="logo Séries Connect"
      title="Séries Connect"
      [routerLink]="['/home']"
    />
  </div>
  <nav class="footer-nav">
    <a [routerLink]="['/legal']">Mentions Légales</a>
    <a [routerLink]="['/show-views']">Séries Vues</a>
    <a [routerLink]="['/show-wishes']">Séries à Voir</a>
  </nav>
  <div class="tmdb-mention">
    <p>Cette application utilise l'API TMDB.</p>
  </div>
</footer>
