<nav class="mynavbar">
  <img
    class="mylogo"
    src="assets/img/logo-sc-transparent.png"
    alt="logo Séries Connect"
    title="Séries Connect"
    [routerLink]="['/home']"
  />
  <div class="mycontainer">
    <ul class="myul">
      <li>
        <a [routerLink]="['/home']">Accueil</a>
      </li>
      <li *ngIf="isLoggedIn()">
        <a [routerLink]="['/show-views']">Séries vues</a>
      </li>
      <li *ngIf="isLoggedIn()">
        <a [routerLink]="['/show-wishes']">Séries à voir</a>
      </li>
      <li *ngIf="!isLoggedIn()">
        <a [routerLink]="['/subscribe']">Inscription</a>
      </li>
      <li *ngIf="!isLoggedIn()">
        <a [routerLink]="['/connect']">Connexion</a>
      </li>
      <li *ngIf="isLoggedIn()">
        <a href="#" (click)="logout()">Déconnexion</a>
      </li>
    </ul>
  </div>
</nav>
