.my-navbar .logo_navbar {
  width: 300px;
  margin-left: 20px;
  margin-right: 50px;
}

.logo_navbar:hover {
  transform: scale(1.05); /* Agrandit le lien de 10% au survol */
}

.bg {
  background-color: #090a0b;
  display: flex;
  justify-content: center;
  font-family: "Playfair Display", serif; /* Ajoutez cette ligne pour spécifier la police */
}

/* Conteneur pour les liens */
.collapse {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Style pour les liens */
a {
  color: #f7f7ff;

  font-weight: bold;
  font-size: 1.4rem;
  margin-right: 50px;
  font-family: "Playfair Display", serif; /* Ajoutez cette ligne pour spécifier la police */
}

a:visited {
  color: #f7f7ff;
}
/* Style de survol pour les liens */
a:hover {
  color: #fbc500;
}

.nav-link:hover {
  transform: scale(1.1); /* Agrandit le lien de 10% au survol */
}
