.show-details-container {
  display: flex;
  align-items: flex-start;
  width: 65%;
  margin: 20px auto;
}

.poster {
  max-width: 100%;
  max-height: 100%;
  border: 3px solid #fbc500;
  box-shadow: 15px 15px 15px rgba(100, 100, 100, 0.5);
  margin-right: 20px;
}

.details {
  flex-grow: 1;
  margin-left: 10px;
}

.title {
  font-size: 2.5em;
  color: #090a0b;
  margin-bottom: 10px;
}

.genre {
  font-size: 1em;
  color: #646464;
  margin-bottom: 20px;
}

.synopsis-title,
.status-title {
  font-size: 1.5em;
  color: #fbc500;
  margin-bottom: 5px;
}

.synopsis,
.status {
  font-size: 1em;
  color: #090a0b;
  margin-bottom: 20px;
  text-align: justify;
  text-justify: inter-word;
}

.status-title {
  margin-bottom: 5px;
}

.coeur {
  position: relative;
  margin-top: 10px;
}

.coeur img {
  width: 8%;
  height: auto;
  cursor: pointer;
}

.coeur img.hover {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.coeur:hover img.default {
  opacity: 0;
}

.coeur:hover img.hover {
  opacity: 1;
}

.pointer {
  cursor: pointer;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #f7f7ff;
  border-bottom-color: #fbc500;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1023px) {
  .title {
    font-size: 2em;
  }
}

@media screen and (max-width: 926px) {
  .title {
    font-size: 1.5em;
  }

  .synopsis {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 832px) {
  .title {
    font-size: 1.1em;
  }

  .synopsis {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 790px) {
  .show-details-container {
    flex-direction: column;
  }

  .title {
    font-size: 1.5em;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 790px) {
  .show-details-container {
    flex-direction: column;
  }

  .title {
    font-size: 1.2em;
    margin-top: 2rem;
  }
}
