<div *ngIf="showDetails; else loading" class="show-details-container">
  <img
    class="poster"
    [src]="getPoster(showDetails.poster_path)"
    alt="Poster de {{ showDetails.title }}"
  />

  <div class="details">
    <h1 class="title">{{ showDetails.name }}</h1>

    <div class="genre">
      <span *ngFor="let genre of showDetails.genres; let isLast = last">
        {{ genre.name }}<span *ngIf="!isLast">, </span>
      </span>
    </div>

    <h2 class="synopsis-title">Synopsis</h2>
    <p class="synopsis">{{ showDetails.overview }}</p>

    <p>
      <strong>Nombre d'épisodes :</strong> {{ showDetails.number_of_episodes }}
    </p>
    <p>
      <strong>Nombre de saisons :</strong> {{ showDetails.number_of_seasons }}
    </p>

    <h2 class="status-title">Statut</h2>
    <div class="status">
      <strong>{{
        showDetails.status === "Ended" ? "Terminée" : "En cours"
      }}</strong>
    </div>
    <div
      class="coeur"
      *ngIf="!showDetails.is_wished && !showDetails.is_viewed"
      (click)="addShowWishedList(showDetails.id)"
      title="Ajouter à la liste des séries à voir"
    >
      <p>bouton ajouter série à voir</p>
      <img
        class="pointer default"
        src="/assets/img/bouton_card_coeur_blanc.png"
      />
      <img
        class="pointer hover"
        src="/assets/img/bouton_card_coeur_jaune.png"
        alt="Ajouter à la liste des séries à voir"
      />
    </div>
  </div>
</div>

<ng-template #loading>
  <p>Chargement des détails de la série...</p>
</ng-template>
