<div class="search-bar">
  <input
    type="search"
    class="search-input"
    [(ngModel)]="searchTerm"
    placeholder="Rechercher une série par son titre"
  />
  <button type="button" class="search-button" (click)="search()">
    Rechercher
  </button>
</div>
<app-carousel *ngIf="carousel"></app-carousel>
<!-- {{ searchTerm }} -->
<div *ngIf="shows.length > 0">
  <div class="card-container">
    <app-card
      *ngFor="let show of shows"
      mode="search"
      [show]="show"
      (addViewedShow)="markShowAsViewed($event)"
      (addWishedShow)="markShowAsWished($event)"
    ></app-card>
  </div>
  <button class="back-to-top" (click)="scrollToTop()">Retour en haut</button>
</div>
