<!-- <div class="input-group">
  <input
    type="search"
    class="form-control rounded"
    placeholder="Rechercher une série par son titre"
    aria-label="Search"
    aria-describedby="search-addon"
  />
  <button type="button" class="btn my-button">Rechercher</button>
</div> -->

<div class="search-bar">
  <input
    type="search"
    class="search-input"
    [(ngModel)]="searchTerm"
    placeholder="Rechercher une série par son titre"
  />
  <button type="button" class="search-button" (click)="search()">
    Rechercher
  </button>
</div>
<app-carousel *ngIf="carousel"></app-carousel>
{{ searchTerm }}
<!-- <div *ngIf="shows">
  {{ shows.results[0].name }}
</div> -->
<div *ngIf="shows.length > 0">
  <!-- Affiche le contenu de cette dis si le tableau shows contient au moins un élément -->
  <div class="card-container">
    <app-card
      *ngFor="let show of shows"
      [show]="show"
      (addViewedShow)="markShowAsViewed($event)"
      (addWishedShow)="markShowAsWished($event)"
    ></app-card>
  </div>
</div>
