<!-- <div class="input-group">
  <input
    type="search"
    class="form-control rounded"
    placeholder="Rechercher une série par son titre"
    aria-label="Search"
    aria-describedby="search-addon"
  />
  <button type="button" class="btn my-button">Rechercher</button>
</div> -->

<div class="search-bar">
  <input
    type="search"
    class="search-input"
    [(ngModel)]="searchTerm"
    placeholder="Rechercher une série par son titre"
  />
  <button type="button" class="search-button" (click)="search()">
    Rechercher
  </button>
</div>
{{ searchTerm }}
<!-- <div *ngIf="shows">
  {{ shows.results[0].name }}
</div> -->
<div *ngIf="shows.length > 0">
  <!-- Affiche le contenu de cette dis si le tableau shows contient au moins un élément -->
  <div *ngFor="let show of shows">
    <!-- Affiche le contenu de cette div pour chaque élément du tableau shows -->
    <h3>{{ show.name }}</h3>
    <!-- Affiche le nom de la série actuelle dans la boucle -->
    <button
      *ngIf="isLoggedIn() && !show.is_viewed"
      (click)="addShowViewedList(show.id)"
    >
      Ajouter à la liste des séries vues
    </button>
    <img [src]="getPoster(show.poster_path)" alt="{{ show.name }} Poster" />
    <!-- Affiche une image pour la série actuelle dans la boucle -->
  </div>
</div>
