form {
  width: 100%;
  margin: auto;
  max-width: 400px;
  background: #f7f7f7;
  padding: 20px;
  margin-top: 40px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #646464;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #646464;
  font-size: 1.2em;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #646464;
  border-radius: 4px;
}

button {
  background-color: #fbc500;
  color: #090a0b;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  width: 50%;
  margin: 20px auto;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ffd333;
  transform: scale(1.1);
}

@media screen and (max-width: 332px) {
  button {
    font-size: 0.8rem;
  }

  .form-group label {
    font-size: 1rem;
    font-weight: bold;
  }
}
