<!-- <div>
  <label for="username">Nom d'utilisateur: </label>
  <input
    type="text"
    id="username"
    [(ngModel)]="username"
    placeholder="Nom de l'utilisateur"
  />
</div>
<div>
  <label for="email">Adresse mail : </label>
  <input
    type="email"
    id="email"
    [(ngModel)]="email"
    placeholder="Adresse mail"
  />
</div>

<div>
  <label for="password">Mot de passe: </label>
  <input type="password" id="password" />
</div>
<div>
  <label for="password">Confirmer mot de passe : </label>
  <input
    type="password"
    id="password"
    [(ngModel)]="password"
    placeholder="Confirmer mot de passe"
  />
</div>
<button (click)="signUp()">S'inscrire</button> -->

<form (ngSubmit)="signUp()">
  <div class="form-group">
    <label for="username">Nom d'utilisateur</label>
    <input
      type="text"
      class="form-control"
      id="username"
      required
      [(ngModel)]="username"
      name="username"
      placeholder="Entrez votre nom d'utilisateur"
    />
  </div>
  <div class="form-group">
    <label for="email">Adresse mail</label>
    <input
      type="email"
      class="form-control"
      id="email"
      required
      [(ngModel)]="email"
      name="email"
      placeholder="Entrez votre adresse mail"
    />
  </div>
  <div class="form-group">
    <label for="password">Mot de passe</label>
    <input
      type="password"
      class="form-control"
      id="password"
      required
      [(ngModel)]="password"
      name="password"
      placeholder="Entrez votre mot de passe"
    />
  </div>
  <div class="form-group">
    <label for="confirmPassword">Confirmer votre mot de passe</label>
    <input
      type="password"
      class="form-control"
      id="confirmPassword"
      required
      [(ngModel)]="confirmPassword"
      name="confirmPassword"
      placeholder="Confirmez votre mot de passe"
    />
  </div>

  <button type="submit">S'inscrire</button>
</form>
