<!-- 
<div *ngIf="shows.length > 0">
  "Bonjour à tous !"

  <div *ngFor="let show of shows">

    <h3>{{ show.name }}</h3>

    <img [src]="getPoster(show.poster_path)" alt="{{ show.name }} Poster" />

    <button (click)="removeShowWishedList(show.id)">
      Supprimer de la liste "A voir"
    </button>

  </div>
</div> -->

<div *ngIf="shows.length > 0">
  <div class="card-container">
    <app-card
      *ngFor="let show of shows"
      [show]="show"
      mode="wished"
      titleId="title"
      (removeWishedShow)="markShowAsRemovedWished($event)"
    ></app-card>
  </div>
  <button class="back-to-top" (click)="scrollToTop()">Retour en haut</button>
</div>
