<!-- <div class="d-flex align-items-center justify-content-center vh-50">
  <div class="text-center row">
    <div class="col-md-6">
      <img
        src="./assets/img/breakind_bad_404.jpg"
        alt="Image 404"
        class="img-fluid img-offset"
      />
    </div>
    <div class="col-md-6 mt-5">
      <p class="lead fs-2 fw-bold mb-5">
        Désolé, vous avez trouvé notre labo secret, mais ce n'est pas la page
        que vous cherchez.
      </p>
      <a [routerLink]="['/home']" class="button-404">Revenir à l'accueil</a>
    </div>
  </div>
</div> -->

<div class="container">
  <img
    src="./assets/img/breakind_bad_404.jpg"
    alt="Breaking Bad 404"
    class="image-404"
  />
  <p class="message-404">
    Désolé, vous avez trouvé notre labo secret, mais ce n'est pas la page que
    vous cherchez.
  </p>
  <a routerLink="/" class="button-404">Retour à la page d'accueil</a>
</div>
