.container {
  width: 70%;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 20px;
}

h1 {
  color: #090a0b;
  text-align: center;
}

h2 {
  color: #fbc500;
  margin-top: 20px;
}

p {
  margin: 15px 0;
  text-align: justify;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 630px) {
  h2 {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 530px) {
  h2 {
    font-size: 1.1rem;
  }

  a {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 450px) {
  h2 {
    font-size: 0.9rem;
  }

  p {
    font-size: 0.8rem;
  }

  a {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 400px) {
  h2 {
    font-size: 0.7rem;
  }

  p {
    font-size: 0.7rem;
  }

  a {
    font-size: 0.7rem;
  }
}
