.container {
  width: 70%;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 20px;
}

h1 {
  color: #090a0b;
  text-align: center;
}

h2 {
  color: #fbc500;
  margin-top: 20px;
}

p {
  margin: 15px 0;
  text-align: justify;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
