<!-- <form class="margin-top: 10px" (ngSubmit)="login()" *ngIf="!isConnected()">
  <div class="form-group">
    <label for="username">Nom d'utilisateur</label>
    <input
      type="text"
      class="form-control"
      id="username"
      required
      [(ngModel)]="username"
      name="username"
      placeholder="Entrez votre nom d'utilisateur"
    />
  </div>
  <div class="form-group">
    <label for="password">Mot de passe</label>
    <input
      type="password"
      class="form-control"
      id="password"
      required
      [(ngModel)]="password"
      name="password"
      placeholder="Entrez votre mot de passe"
    />
  </div>
  <button type="submit">Se connecter</button>
</form>
<div *ngIf="isConnected()"></div> -->
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <input
    type="text"
    id="name"
    class="form-control"
    formControlName="username"
    required
  />

  <div
    *ngIf="username.invalid && (username.dirty || username.touched)"
    class="alert alert-danger"
  >
    <div *ngIf="username.errors?.['required']">Name is required.</div>
    <div *ngIf="username.errors?.['minlength']">
      Name must be at least 4 characters long.
    </div>
    <div *ngIf="username.errors?.['forbiddenName']">Name cannot be Bob.</div>
  </div>
  <button type="submit">Ajouter</button>
</form>
